body,
html {
  height: 100%;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold !important;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
}

@import "partials/contact";
@import "partials/footer";
@import "partials/home";
@import "partials/header";
