@import "variables";

nav {
  background-color: $header !important;
  font-family: "Open Sans", sans-serif;
  font-weight: $font-weight-nav;
}

nav button {
  background-color: white !important;
}

nav a {
  color: $header-links !important;
  padding: 10px;
  text-decoration: none;
}
